.footer {
  position: absolute;
  bottom: 1.25rem;
  text-align: left;
  max-width: 28.8rem;
  width: 100%;
}

:global(.ant-typography).footerText {
  font-size: var(--text-lg);
  font-weight: var(--font-normal);
  line-height: normal;
}

:global(.ant-typography span).spanText {
  font-weight: var(--font-medium);
}

@media (max-width: 991px) {
  .footer {
    max-width: 17.8rem;
  }
}
@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
