.leftPanel {
  flex: 1;
  display: flex;
  position: relative;
  padding: 30px;
}

.backgroundImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  object-fit: cover;
}

.logoContainer {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  max-width: 452px;
  width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  .leftPanel {
    padding: 28px;
  }
  .logo {
    max-width: 320px;
  }
}