.container {
  max-width: 350px;
  width: 100%;
  text-align: center;
  background-color: var(--color-bg-container);
}

.otpFormTitleDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

:global(.ant-typography).title {
  font-size: var(--disp-md);
  font-weight: var(--font-medium);
  color: var(--text-primary);
  margin: 0 0 1rem 0;
  line-height: normal;
}

:global(.ant-typography).description {
  font-size: var(--text-lg) !important;
  font-weight: var(--font-normal) !important;
  color: var(--text-secondary);
  line-height: normal;
  letter-spacing: 0.16px;
  margin-bottom: 0.375rem;
  max-width: 350px;
  width: 100%;
}

:global(.ant-typography).maskedPhoneNumber {
  font-size: var(--text-lg) !important;
  font-weight: var(--font-normal) !important;
  color: var(--text-secondary);
  line-height: normal;
  letter-spacing: 0.16px;
}
:global(.ant-form-item).formItem {
  margin: 0;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 2.5rem; */
}

.otpInputContainer {
  width: 16.25rem;
  display: flex;
  justify-content: space-between;
}

:global(.ant-input).otpInput {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: var(--text-lg);
  font-weight: var(--font-normal);
  border: none;
  border-bottom: 1px solid var(--color-border-light);
  border-radius: 0;
}

:global(.ant-input).otpInput:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #5b5fc7; /* Change bottom border color on focus */
}

:global(.ant-btn).otpButton {
  width: 100%;
  font-size: var(--text-md);
  line-height: normal;
  font-weight: var(--font-medium);
  border-radius: 8px;
  max-width: 12.5rem;
  height: 2.75rem;
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
}
.resendTextContainer {
  margin-bottom: 1rem;
  line-height: normal;
}

:global(.ant-typography).resendText {
  font-size: var(--text-md);
  font-weight: var(--font-normal);
  color: var(--text-secondary);
  line-height: normal;
}

:global(.ant-typography).resendLink {
  font-size: var(--text-md);
  font-weight: var(--font-medium);
  color: var(--color-primary);
  cursor: pointer;
  line-height: normal;
}

:global(.ant-typography).resendLink:hover {
  color: var(--color-primary1);
}

.backLinkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.backLink {
  font-size: var(--text-lg);
  font-weight: var(--font-normal);
  color: var(--text-secondary);
  line-height: normal;
  margin-left: 0.625rem;
  text-decoration: none;
}

.backLink:hover {
  color: var(--color-primary1) !important;
}
.ant-form .ant-form-item {
  margin-bottom: 0;
}

.inputWrapper {
}

.formBtn {
}

.errorTxt {
}
