:global(.ant-typography).formLabel {
  font-size: var(--text-md);
  font-weight: var(--font-medium);
  line-height: normal;
  margin-bottom: 7px;
}

:global(.ant-input).formInput {
  border-radius: 8px;
  padding: 14px 16px;
  border: 1px solid var(--color-border-light);
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}

:global(.ant-select).formSelect {
  border-radius: 8px;
  /* border: 0; */
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  height: 44px;
}
:global(.ant-select).formSelect div {
  /* border: 0 !important; */
}
:global(.ant-upload.ant-upload-select).upload {
  width: 100%;
}
.upload button {
  width: 100%;
  padding: 10px 16px;
  height: auto;
}

:global(.ant-radio-group).radioWrapper {
  width: 100%;
  display: flex;
}

:global(.ant-radio-group).radioWrapper > label {
  height: 44px;
  border: 1px solid var(--color-border-light);
  border-radius: 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
}

:global(.ant-radio-group).radioWrapper {
  display: grid;
  gap: 1rem 0.69rem;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  margin-inline: auto;
}

:global(.ant-checkbox-group).addOn {
  width: 100%;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  margin-inline: auto;
}

:global(.ant-checkbox-group).addOn > label {
  height: 44px;
  border: 1px solid var(--color-border-light);
  border-radius: 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
}

:global(.ant-picker).rangeDatePicker {
  border-radius: 8px;
  padding: 10px 16px;
  border: 1px solid var(--color-border-light);
  /* margin-bottom: 20px; */
  max-width: 100%;
  width: 100%;
}

:global(.ant-picker).rangeTimePicker {
  border-radius: 8px;
  padding: 10px 16px;
  border: 1px solid var(--color-border-light);
  /* margin-bottom: 20px; */
  max-width: 100%;
  width: 100%;
}

@media only screen and (max-width: 1166px) {
  :global(.ant-checkbox-group).addOn {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  :global(.ant-radio-group).radioWrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
